# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.iml
*.ipr
*.iws

# Logs
logs/
*.log
.env
docker-compose.local.yml
docker-compose.host.yml
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Temp / archives
*.tmp
*.bak
*.swp
*.zip
*.tar.gz
*.rar
/.fastRequest/
