# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.DS_Store

# Logs
logs/
*.log

# Temp
*.tmp
*.bak
*.swp
*~.nib

# Class Files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/.fastRequest/
